.card {
    margin: 5px;
    width: 18rem;
    align-items: center;
    overflow: hidden;
}

.card-text-h {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

.card-img-top {
    height: 10rem;
    margin-top: 5px;
}