$colorTop : #f7d6f0;
$colorBot:grey;


.sidebar{
    flex: 1;
    height: 100vh;
    position: relative;
    background: linear-gradient($colorTop,$colorBot);   
    width: 20%;
}

.sidebar-collapse {
    left: -100%;
}

.sidebarItems>ul>li{
list-style-type: none;
}
.sidebarItems>ul>li>li{
cursor: pointer;
}

.side-bar-close{
    cursor: pointer;
    transition: 3000ms;
}

